@font-face {
  font-family: "TT Commons Pro";
  src: url("/assets/files/4efb64c98564a485.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Commons Pro";
  src: url("/assets/files/a19207ee16183cf9.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Commons Pro";
  src: url("/assets/files/71a270ac7a117604.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Commons Pro";
  src: url("/assets/files/338e00cfcdd97ba5.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Commons Pro";
  src: url("/assets/files/75281c475ecb3a09.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
