@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-width: 320px;
    scroll-behavior: smooth;
  }

  body {
    min-width: 320px;
    margin: 0;
  }

  #root {
    min-height: 100dvh;
  }
}
